<h1>記録作成</h1>

<% if @post.errors.any? %>
  <div style="color: red;">
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @post do |f| %>
  <p>サウナ名</p>
  <%= f.text_field :title %>

  <p>内容</p>
  <%= f.text_area :content %>

  <p>画像</p>
  <%= f.file_field :image %>
  
  <br>
  
  <%= f.submit "投稿する", class: "submit-btn" %>
<% end %>